[user]
	email = 77406318+csc530@users.noreply.github.com
	name = csc530
[alias]
	s = status
[credential]
	helper = manager

# diff so fancy
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse


[credential "https://github.com"]
	helper = 
	helper = !'C:\\Users\\legor\\scoop\\apps\\gh\\current\\bin\\gh.exe' auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !'C:\\Users\\legor\\scoop\\apps\\gh\\current\\bin\\gh.exe' auth git-credential
