[user]
	email = 77406318+csc530@users.noreply.github.com
	name = csc530
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIA925MzvEfCh7HbuBCrPXQtLIPRzD63948A7QC+O3aXp
[alias]
	s = status

[credential]
	helper = manager

# diff so fancy
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	autocrlf = true
[credential]
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

	
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[commit]
	gpgsign = true