.env
.envrc

micro/buffers/
micro/backups/

# 1password
op/
# ihn~~f~~i
jgit/

# too specific state config persitences
lazygit/state.yml
configstore/

# nodemon
simple-update-notifier/

# plugins
micro/plug/

scoop/config.json

nu_scripts/
.cache/
nupm/

jump/
github-copilot/
lazysql/
litecli/
nvim/lazy-lock.json

legendary/*
!legendary/*.ini