.env
.envrc

micro/buffers/
micro/backups/

# 1password
op/
# ihn~~f~~i
jgit/

# too specific state config persistences
lazygit/state.yml
configstore/
nushell/history.txt

# nodemon
simple-update-notifier/

# plugins
micro/plug/

scoop/config.json

nu_scripts/
.cache/
nupm/

jump/
github-copilot/
lazysql/
litecli/
nvim/lazy-lock.json

legendary/*
!legendary/*.ini
1Password/
com.1password.*

Code - Insiders/
Code/
discord/
JetBrains/
yarn/global
Portmaster/
unity3d/
libreoffice/
TabNine/
MongoDB Compass/
launcher-main/
bstudio/
evince/
cef_user_data/
enchant/
evolution/
pulse/
firebase/
flutter/
filezilla/
ibus/
gtk-*/
Google/
gnome-*/
spotify/
eog/
Rygel/
nemo/
nautilus/
libvirt/
kdeconnect/
autostart/
composer/
gatsby/

go/

lapce-stable/
!lapce-stable/keymaps.toml
!lapce-stable/settings.toml

!Code - OSS/
Code - OSS/*

!Code - OSS/User/
Code - OSS/User/*

!Code - OSS/User/settings.json
!Code - OSS/User/snippets/


Electron/

gh/hosts.yml

budgie-control-center/


.*
git/.gitconfig
gh/hosts.yml
git/.gitconfig
com.tari.universe/
Notion
