# __          __  _
# \ \        / / | |
#  \ \  /\  / /__| | ___ ___  _ __ ___   ___
#   \ \/  \/ / _ \ |/ __/ _ \| '_ ` _ \ / _ \
#    \  /\  /  __/ | (_| (_) | | | | | |  __/
#     \/  \/ \___|_|\___\___/|_| |_| |_|\___|


#  _______
# |__   __|
#    | | ___
#    | |/ _ \
#    | | (_) |
#    |_|\___/

#           _____                _____
#          /\    \              |\    \
#         /::\____\             |:\____\
#        /::::|   |             |::|   |
#       /:::::|   |             |::|   |
#      /::::::|   |             |::|   |
#     /:::/|::|   |             |::|   |
#    /:::/ |::|   |             |::|   |
#   /:::/  |::|___|______       |::|___|______
#  /:::/   |::::::::\    \      /::::::::\    \
# /:::/    |:::::::::\____\    /::::::::::\____\
# \::/    / ~~~~~/:::/    /   /:::/~~~~/~~
#  \/____/      /:::/    /   /:::/    /
#              /:::/    /   /:::/    /
#             /:::/    /   /:::/    /
#            /:::/    /    \::/    /
#           /:::/    /      \/____/
#          /:::/    /
#         /:::/    /
#         \::/    /
#          \/____/
#  _________  _______   ________  _____ ______   ___  ________   ________  ___
# |\___   ___\\  ___ \ |\   __  \|\   _ \  _   \|\  \|\   ___  \|\   __  \|\  \
# \|___ \  \_\ \   __/|\ \  \|\  \ \  \\\__\ \  \ \  \ \  \\ \  \ \  \|\  \ \  \
#      \ \  \ \ \  \_|/_\ \   _  _\ \  \\|__| \  \ \  \ \  \\ \  \ \   __  \ \  \
#       \ \  \ \ \  \_|\ \ \  \\  \\ \  \    \ \  \ \  \ \  \\ \  \ \  \ \  \ \  \____
#        \ \__\ \ \_______\ \__\\ _\\ \__\    \ \__\ \__\ \__\\ \__\ \__\ \__\ \_______\
#         \|__|  \|_______|\|__|\|__|\|__|     \|__|\|__|\|__| \|__|\|__|\|__|\|_______|

{{- /*
    yes I'm using reverse indentation for chezmoi templating statements
    because there's no way to unindent the enclosed text 🤷🏿‍♂️
*/}}


# the path is blazed ❤️‍🔥by those willing to change it 🥊🪶 #

# please do not have any spaces between `=` for maximum compatibility between shells
# thank you 😀

    {{ if eq .chezmoi.os "linux" }}
SYSTEMD_COLORS=TRUE
## XDG-tings: https://wiki.archlinux.org/title/XDG_Base_Directory
XDG_CONFIG_HOME=$HOME/.config
XDG_CACHE_HOME=$HOME/.cache
XDG_DATA_HOME=$HOME/.local/share
XDG_STATE_HOME=$HOME/.local/state
# XDG_RUNTIME_DIR=$HOME/

PATH=$HOME/.local/scripts:$PATH
PATH=$HOME/.local/bin:$PATH
    {{- end -}}

    {{- if eq .chezmoi.os "darwin" }}
LIBRARY=$HOME/Library
XDG_CONFIG_HOME=$LIBRARY/Application\ Support

UV_TOOL_BIN_DIR=$HOME/Library/Binaries

# translated from brew shellenv
PATH=/opt/homebrew/bin:/opt/homebrew/sbin:$PATH
HOMEBREW_PREFIX=/opt/homebrew
HOMEBREW_CELLAR=/opt/homebrew/Cellar
HOMEBREW_REPOSITORY=/opt/homebrew
INFOPATH=/opt/homebrew/share/info:$INFOPATH

HOMEBREW_BUNDLE_FILE={{ .chezmoi.sourceDir }}/packages/brewfile
HOMEBREW_BUNDLE_DESCRIBE=yessir
    {{- end }}

	{{- if eq .chezmoi.os "windows" }}
XDG_CONFIG_HOME=$APPDATA
	{{- end }}

## terminal
POSH_THEME=~/.config/oh-my-posh/themes/theme.omp.json

## defaults and openers (handlers)
VISUAL="zeditor --wait --new"
EDITOR={{- if eq .chezmoi.os "windows" -}}edit{{- else -}}micro{{- end }}

PATH=$HOME/go/bin:$PATH
PATH=$HOME/.deno/bin:$PATH

OneDrive=$HOME/OneDrive
